{% load static from staticfiles %} <!-- Step 12.3 addition -->

<!-- Step 20.1 Addition -->
<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/layout.css' %}"> <!-- Step 12.3 addition -->
    </head>  
    <body>
        
        <div class="site-container">
            <nav>
                <a href="{% url 'views.hello_world' %}">Home</a>
                <a href="{% url 'courses:list' %}">Courses</a> <!-- Step 27.4 mod -->
            </nav>
            
            {% block content %}{% endblock %}
        </div>
        
    </body>
</html>
